<div class = "row">
  <div class="col-md-10">
    <h1 class="title">Contacts</h1>
  </div>
  <div class="col-md-2 addContact">
    <a class="submit" href="#/new/contact">Add Contact</a>
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="contact in contacts | orderBy:'lastName'" style="cursor:pointer">
        <td>
          <a ng-href="#/contact/{{contact._id}}" style="font-size: 20px;">{{ contact.firstName }} {{ contact.lastName }}</a>
          <button class="btn btn-default fa fa-plus" style="float: right;" aria-hidden="true" ng-click="showDetails(contact)"></button>
          <div ng-hide="contact.showDet">
            <br>
            <p ng-if="contact.company">Company: {{ contact.company }}</p>
            <p ng-if="contact.email">Email: <a ng-href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></p>
            <p ng-if="contact.phone.mobile">Mobile Phone: {{ contact.phone.mobile }} </p>
            <p ng-if="contact.phone.work">Work Phone: {{ contact.phone.work }} </p>
            <p ng-if="contact.address">Address: {{ contact.address }} </p>
            <p ng-if="contact.linkedIn"><a ng-href="{{ contact.linkedIn }}" target="_blank">Linked In</a></p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>